<!-- home.mustache -->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="styles.css">
        <title>todo</title>
    </head>
    <body>
        <form class="inputItem" action="/" method="post">
            <input type="text" name="newThing" value='{{id}}' placeholder="New Item">
              <!-- <button type="submit" name="addItem">Add item</button> -->
        </form>
        <div class="openItems">
          <h2>Open Items</h2>
          <ul>
            {{#todoList}}
                <li><p>{{id}}</p><p>{{task}}</p><form class="" action="/delete/{{id}}" method="post">
                <button type='submit' value='{{id}}' name='closer'>Close Item</button></form></li>
            {{/todoList}}
          </ul>
        </div>
        <div class="closedItems">
          <h2>Closed Items</h2>
          <ul>
            {{#closedList}}
              <li><p>{{id}}</p><p>{{task}}</p><form class="lineButton" action="/reopen/{{id}}" method="post">
              <button type="submit" name="reOpen" value='{{id}}'>Re-Open?</button></form></li>
            {{/closedList}}
          </ul>
        </div>
    </body>
</html>
